{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/clojurescript {:mvn/version "1.10.773"}
  reagent/reagent {:mvn/version "0.10.0"}}

 :aliases
 {
  :env/figwheel
  {:extra-deps
   {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
    com.bhauman/figwheel-main {:mvn/version "0.2.11"}}
   :extra-paths ["target" "test"]}

  :build/dev
  {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

  :build/minify
  {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}

  :build/live
  {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "live"]}

  :test/runner
  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "practicalli.test-runner"]}}}
